# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Idea-work-space\MyTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
